(domain_name) {
    tls on
    encode zstd gzip
    # Nextcloud
    @nextcloud {
        path /cloud/*
    }

    # WordPress
    @wordpress {
        path /wp/*
        path /wp-admin
    }
    reverse_proxy @nextcloud https://nextcloud:8080
    reverse_proxy @wordpress https://wordpress:8081
}