version: "3.7"

services:
  db:
    image: mariadb:latest
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: your_root_password
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: your_nextcloud_password
    volumes:
      - db_data:/var/lib/mysql

  wp:
    image: mariadb:latest
    container_name: wpmariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: your_root_password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: your_wordpress_password
    volumes:
      - wp_data:/var/lib/mysql

  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    restart: always
    depends_on:
      - db
    environment:
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=your_nextcloud_password
      - MYSQL_HOST=db
    volumes:
      - nextcloud_data:/var/www/html
    ports:
      - "8080:80" # Or your desired port

  wordpress:
    image: wordpress:latest
    container_name: wordpress
    restart: always
    depends_on:
      - wp
    environment:
      - WORDPRESS_DATABASE=wordpress
      - WORDPRESS_USER=wordpress
      - WORDPRESS_PASSWORD=your_wordpress_password
      - WORDPRESS_HOST=wp
      - WORDPRESS_DB_DATABASE=wordpress
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=your_wordpress_password
      - WORDPRESS_DB_HOST=wp
    volumes:
      - wordpress_data:/var/www/html/wp-content
    ports:
      - "8081:80" # Or your desired port

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    depends_on:
      - nextcloud
      - wordpress
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/Caddyfile
      - ./caddy/data:/data
    # Caddyfile configuration (see below)

volumes:
  db_data:
  wp_data:
  nextcloud_data:
  wordpress_data: