version: "3.7"
services:
  caddy:
    image: caddy/caddy:2.7.0
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/data:/data
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
  nextcloud:
    image: nextcloud:latest
    restart: unless-stopped
    ports:
      - "8080:80" # Or another port of your choice
    volumes:
      - ./nextcloud_data:/var/www/html
    environment:
      - NEXTCLOUD_ADMIN_USER=your_admin_user
      - NEXTCLOUD_ADMIN_PASSWORD=your_admin_password
    networks:
      - caddy
  wordpress:
    image: wordpress:latest
    restart: unless-stopped
    ports:
      - "8081:80" # Or another port of your choice
    volumes:
      - ./wordpress_data:/var/www/html
    environment:
      - WORDPRESS_DB_HOST=mysql
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=your_db_password
    networks:
      - caddy
  mysql: # Optional:  If you're using an external MySQL database
    image: mysql:8.0
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=your_db_root_password
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - caddy

networks:
  caddy:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.0.0/16